include README.rst
include LICENSE
include AUTHORS.rst
include CONTRIBUTING.rst
include requirements/*
recursive-exclude * .DS_Store
recursive-include django-db-mailer *.html *.png *.gif *js *.css *jpg *jpeg *svg *py *.txt *.po
