Django>=1.8,<1.9
django-bootstrap-static==2.3.2
django-debug-toolbar==1.6
django-extensions==1.7.6
django-rosetta==0.7.12
django-redis==4.7.0
django-redis-cache==1.7.1
django-celery==3.1.17
celery>=3.1,<4

# MySQL-python>=1.2.5
Werkzeug>=0.11.15
ipython>=5.1.0
tornado>=4.4.2
coverage>=4.3.4
pyzmq>=16.0.2
Jinja2>=2.9.4
flake8>=3.2.1
Sphinx>=1.5.2
redis>=2.10.5
wheel>=0.24.0

django-grappelli==2.7.3
django-suit==0.2.23
django-ckeditor==5.2.1
django-reversion==2.0.8
django-reversion-compare==0.7.2
diff-match-patch==20121119
# premailer==3.0.1
pytz>=2016.10
django-sslserver==0.19

-e git+https://github.com/hint/django-admin-jqueryui.git#egg=django-admin-jqueryui

django-db-mailer
