django==1.4.13
django-bootstrap-static==2.3.2
django-debug-toolbar==1.2
django-extensions==1.3.8
django-grappelli==2.4.10
django-celery==3.1.10
django-rosetta==0.7.4
MySQL-python==1.2.5
Werkzeug==0.9.6
ipython==2.1.0
tornado==3.2.1
coverage==3.7.1
pyzmq==14.0.0
Jinja2==2.7.2
flake8==2.2.0
Sphinx==1.2.2
South==0.8.4
django-tinymce>=1.5.2
python-memcached==1.53
django-pylibmc==0.5.0
redis==2.10.1
wheel
